.section-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .fixed-section {
    flex: 0 0 content;
    display: flex;
    justify-content: center;
  }

  .scroll-section {
    flex: 1 1 content;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
  }
}

.artwork-card {
  width: 250px;
  height: 350px;
  margin: 8px;
  padding: 8px;
  overflow-wrap: break-word;
  overflow: hidden;

  img {
    width: 100%;
    height: 55%;
    object-fit: contain;
  }

  p {
    max-height: 4em;
    overflow: hidden;
  }
}
