<div class="section-container">
  <div class="fixed-section">
    <h1 class="nx-margin-y-xs" nxHeadline="section">ART COLLECTION</h1>
  </div>
  <div class="fixed-section">
  </div>
  <div class="scroll-section">
    <nx-card *ngFor="let artwork of artworks" class="artwork-card">
      <nx-card-header>
        <img [src]="artwork.imageUrl" [alt]="artwork.title" (error)="setDefaultImage(artwork)">
      </nx-card-header>
      <p nxCopytext="normal" class="nx-font-weight-semibold nx-margin-y-3xs">{{artwork.title}}</p>
      <p nxCopytext="medium" class="nx-font-weight-regular">{{artwork.artist}}</p>
      <p nxCopytext="small" class="nx-font-weight-light">{{artwork.origin}}</p>
      <p nxCopytext="small" class="nx-font-weight-light" [nxTooltip]="artwork.medium || ''">{{artwork.medium}}</p>
    </nx-card>
  </div>
  <div class="fixed-section">
    <nx-pagination class="nx-margin-y-s" nxType="advanced" [nxCount]="total" [nxPerPage]="limit" [nxPage]="page"
      (nxGoPrev)="changePage(page - 1)" (nxGoNext)="changePage(page + 1)" (nxGoPage)="changePage($event)">
    </nx-pagination>
  </div>
</div>